body, input {
    background-color: #f0f2f0;
    color           :  #202020;
    font-family     : "Quicksand", sans-serif;
    font-size       : 18px;
}

.container {
    width  : 840px;
    margin : auto;
    padding: 2.5% 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear  : both;
}

h1 {
    color         : #3773a8;
    /* font-family   : "Encode Sans Condensed", sans-serif; */
    font-family: 'Bree Serif', serif;
    font-size     : 3.2em;
    font-weight   : bold;
    letter-spacing: 0.08em;
    text-align    : center;
    margin-bottom : 0.65em;
}

h2 {
    color         : #ff6600;
    font-size     : 1.8em;
    font-weight   : bold;
    letter-spacing: 0.04em;
    font-family: 'Bree Serif', serif;
    margin-bottom : 0.85em;
}

p {
    letter-spacing: 0.03em;
    line-height   : 1.5em;
    
    margin-bottom : 3%;
}


#schedule, #search {
    margin-bottom: 2.5em;
}

.leftPane {
    float: left;
    width: 48%;
}

.rightPane {
    float: right;
    width: 48%;
}


/* Table */
table {
    width: 100%;
}

tbody tr:hover {
    background-color: #78b6ed;
    color           : #f9f6e3;
}

tr:nth-child(even) {
    background-color: #f9f6e3;
}

tr:nth-child(odd) {
    background-color: #ebd9a3;
}

th {
    background-color: #3773a8;
    color           : #f9f6e3;
    
    width           : 18%;
    padding         : 2% 1%;
    border-right    : 1px solid #f9f6e3;
    border-bottom   : 2px solid #f9f6e3;
}

th:last-child {
    border-right: none;
}

td {
    font-size       : 0.9em;
    width           : 18%;
    padding         : 1.25% 1%;
    border-right    : 1px solid #f9f6e3;
}

td:last-child {
    border-right: none;
}


/* Submission */
label {
    display      : block;
    margin-bottom: 0.5em;
}

input {
    background-color: white;
    
    display         : block;
    width           : 94%;
    padding         : 2% 3%;
    margin-bottom   : 1em;
}

#button_add, #button_delete, #button_edit {
    background-color: #78b6ed;
    color           : #f9f6e3;
    /* font-family     : "Quicksand", sans-serif; */
    font-family: 'Bree Serif', serif;
    font-size       : 1.10em;
    font-weight     : bold;
    letter-spacing  : 0.03em;
    text-align      : center;

    margin-top      : 1.5%;
    margin-bottom: 10px;
    border          : 2px solid #3773a8;
    padding         : 2% 5%;
}

#button_add {
    float: right;
}

#button_delete {
    display: none;
    float  : right;
}

#button_edit {
    display    : none;
    float      : right;
    margin-left: 4%;
}
